/* ==========================================================================
   corps style
   ========================================================================== */

*{
   box-sizing: border-box;
}

body{
   font-family: 'Raleway', sans-serif;
   font-weight:400;
   min-height: 100vh;
   width: 100vw;
   color:white;
   background-color: #1C1B1B;
}

header{
   z-index:20;
   position: fixed;
   width: 60%;
   display: flex;
   justify-content: space-between;
   padding: 0.5rem 1.5rem;
   z-index: 75;
}

article{
   position: relative;
   width: 60%;
   overflow: hidden;
}

aside{
   color:black;
   position: relative;
   width: 40%;
   min-width: 220px;
   background-color: white;
   height: 100vh;
   overflow:auto;
}

img{
   max-width: 100%;
   max-height: 100%;
}

section{
   display: flex;
   width: 100vw;
   height: 100vh;
}

label, span.span-content{
   max-width: 200px;
   width: 30%;
   min-width: 50px;
   margin-right: 10px;
}

output {
   width: 10%;
   display: flex;
}

/* ==========================================================================
   Header style
   ========================================================================== */

.logo {
   margin: 5px;
   padding: 5px;
}

.global {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 120px;
}

header button{
   background-color: rgba(0,0,0,0);
   border: none;
}
/* ==========================================================================
   Button style
   ========================================================================== */

button{
   margin: 5px;
   padding: 5px;
   cursor: pointer;
}

button:disabled,
button[disabled],
.disabled{
    cursor: auto;
    opacity:0.5;
}

button.bt, input[type="submit"]{
   padding: 10px;
   background-color: #736AE4;
   border: #736AE4 solid 2px;
   color: white;
   border-radius: 10px;
   text-transform: uppercase;
}

button.bt:hover, input[type="submit"]:hover{
   background-color: white;
   color:  #736AE4;
}

/* The switch - the box around the slider */
.switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
}

 /* Hide default HTML checkbox */
.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

/* The slider */
.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
}
 
.slider:before {
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
}
 
input:checked + .slider {
   background-color: #736AE4;
}
 
input:focus + .slider {
   box-shadow: 0 0 1px #736AE4;
}
 
input:checked + .slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
}
 
/* Rounded sliders */
.slider.round {
   border-radius: 34px;
}
 
.slider.round:before {
   border-radius: 50%;
}

.labelledSwitch {
   max-width: 98vw;
   align-items: center;
}

.large-bt {
   width: 90%;
}

input[type="range"] {
   -webkit-appearance: none;
   margin-right: 15px;
   width: 60%;
   height: 7px;
   background: rgba(255, 255, 255, 0.6);
   border-radius: 5px;
   background-color: #ccc;
   background-size: 70% 100%;
   background-repeat: no-repeat;
}


/* Input Thumb */
input[type="range"]::-moz-range-thumb, input[type="range"]::-ms-thumb, input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background: #736AE4;
   cursor: pointer;
   box-shadow: 0 0 2px 0 #555;
   transition: background .3s ease-in-out;
}

input[type="radio"]{
   accent-color: #736AE4;
}  

/* ==========================================================================
   structure class style
   ========================================================================== */

.sr-only {
   border: 0;
   clip: rect(0, 0, 0, 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   white-space: nowrap;
   width: 1px;
   /* 1 */
}

.row{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.col{
   display: flex;
   flex-direction: column;
}

.center{
   display: flex;
   align-items: center;
}

.justify{
   justify-content: center;
}

.hide{
   display: none !important;
}

.h100{
   height: 100%;
}

.h50{
   max-height: 50%;
}

.w100{
   width: 100%;
}

.p0{
   padding: 0px;
}

/* ==========================================================================
   Accordion style (the right section)
   ========================================================================== */
.aside_mode{
   max-width: 99%;
   overflow: auto;
}

.aside_mode > .accordion{
   height: calc(100% - 80px);
}

.accordion{
   max-width: 100%;
}

.accordion > h2{
   cursor: pointer;
   border-top: solid 1px #E3E3E3;
   margin: 0px;
   padding: 5px;
}

.accordion button:not(.form){
   margin: 0px;
   background-color: rgba(0,0,0,0);
   border: none;
   text-align: left;
   font-size: 24px;
}

.accordion button:hover {
   background-color: #E3E3E3;
}

.accordion button > span + span{
   display: block;
   font-size: 1.2rem;
   font-family: 'Raleway', sans-serif;
   font-weight: 400;
}

h2 button{
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
}

.arrow-container{
   padding: 2px;
   margin: 5px;
}

.rot90{
   position: relative;
   transform: rotate(90deg) translate(50%,-10%) scaleY(0.75);
}

.accordionSection{
   max-height: 100vh;
   height: calc(100% - 275px);
   min-height: 60px;
   overflow: auto;
   margin-left: 30px;
}

/* ==========================================================================
   image generate section style 
   ========================================================================== */

   .imgGenerateContainer{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      max-width: 55vh;
      padding: 25px;
  }
  
  .imgGenerateContainer img{
      border: solid 2px black;
      margin: 2%;
  }

/* ==========================================================================
   Other section style (actually no-classed)
   ========================================================================== */

#section-select{
   z-index: 100;
}

.img_toSelect {
   cursor: default;
}

.img_toSelect > input {
   visibility: hidden;
   width: 0px;
}

.MethodSelect > div {
   margin: 2px 0px;
}

.multipleChoiseWithLabel > div, .labelledSwitch > div {
   width: 60%;
   display: flex;
}